@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

body {
  background-image: radial-gradient(#f288f9 1px, transparent 1px),
  radial-gradient(#f288f9 1px, transparent 1px);
  background-color: #342a2a;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

.bg-anim {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
}

.shadow-bottom {
  box-shadow: 0 0 20px 4px grey;
}

canvas {
  border-radius: 15px;
  margin-bottom: 20px;
}

.infobox-actions{
  height: 55px !important;
}

.react-calendar {
  margin: 10px auto 16px;
  border-radius: 10px;
  border: 1px solid rgb(65, 61, 61);
  box-shadow: 0 0 17px 1px #e73c7e;
}

.react-calendar__viewContainer {
  padding: 4px;
}

.react-calendar__navigation__label__labelText {
  font-size: 15px;
}

.react-calendar__navigation__label {
  background-color: black !important;
  color: whitesmoke
}

.react-calendar__navigation__arrow {
  background-color: black !important;
  color: whitesmoke;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 20px;
  color: #e73c7e
}

.react-calendar__navigation {
  background-color: black !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0
}

.react-calendar__tile {
  padding: 7px;
  border: 1px solid rgb(246, 239, 239) !important;
  font-size: 14px;
  border-radius: 6px;
}

.exam-dates {
  background-color: #e73c7e63 !important;
}

.react-calendar__tile:active {
  color: #e73c7e !important;
}

.--max-w-720{
  max-width: 720px
}

.svg {
  display: 'block';
  margin: '50px auto 0';
  height: '150px';
  width: '150px';
  color: #e73c7e
}

.text-shadow {
  text-shadow: 5px 5px 4px #e73c7e;
}

.text-shadow-sm {
  text-shadow: 4px 4px 7px #e73c7e;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.tripline {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.tripline-top, .tripline-middle, .tripline-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
}

.tripline-middle {
  transform: translateY(7px);
}

.tripline-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .tripline-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .tripline-middle {
  display: none
}

.open .tripline-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.--loading {
  height: 200px
}

.home-card {
  @apply flex flex-col md:flex-row justify-between items-center my-4 bg-slate-200 p-6 rounded-xl shadow-lg shadow-rose-400/70
}

@media(max-width: 300px){
  .svg {
    width: 80px !important;
    height: 80px !important
  }
}

@media(min-width: 1350px){
  .preview-list {
    height: 95.5vh
  }
}